---
layout: layouts/base.njk
title: Contacto
eleventyNavigation:
  key: contacto
  title: Contacto
  order: 3
---

<div class="col-12">
  <h1>Escribenos al correo pablo3542@hotmail.com</h1>
  <p></p>
  <img src="/assets/images/foto-.jpg" alt="">
</div>