---
layout: layouts/base.njk
title: Inicio
eleventyNavigation:
  key: index
  title: Home
---
<div class="col-12">
  <h1>Bienvenidos a Kuvo</h1>
  <p>
    Impresión 3d.
  </p>
  {% for elemento in fotos %}
  <img src="/assets/images/foto-.jpg" alt="">
  <img src="/assets/images/foto-7.jpg" alt="">
  {% endfor %}
</div>